@model List<Project2.Core.Models.Entities.Project>
@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="row align-items-top">

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="list-box m-4">
            <div class="title">Đồ án của tôi</div>
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("reportPartialView", "Report", new { id = item.id })" class="list-group-item">@item.name</a>
                }
            </div>
        </div>
    </div>

    @Html.Action("reportPartialView", "Report");

    <div class="my-project">
        <a href="/Report/">Đồ án của tôi</a>
    </div>
    <div class="modal fade" id="modifyReport" tabindex="-1" role="dialog"
         aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form>
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Tạo báo cáo tiến độ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div class="form-group">
                                    <label>Tiêu đề</label>
                                    <input type="text" name="" id="" class="form-control"
                                           placeholder="" aria-describedby="helpId">
                                    <small id="helpId" class="text-muted">Tiêu đề báo cáo tiến độ</small>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Nội dung</label>
                                <textarea></textarea>
                                <small id="helpId" class="text-muted">Nội dung của báo cáo tiến độ</small>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <input type="submit" class="btn btn-primary" data-toggle="modal"
                               data-target="#Table" value="Xác nhận" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>